//
// Editor overrides.
//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.6.0
//

@import '_setup/_index';

.wp-block[class*="-screen-reader-text"],
.wp-block > [class*="-screen-reader-text"] {
	position: relative !important;
	clip: auto !important;
	clip-path: none !important;
	width: auto !important;
	height: 2em !important;
	padding: 0 !important;
	margin-block: 0 !important;
	font-size: 1em;
	line-height: 1;
	background: none !important;
	color: inherit !important;

	&:not(:hover):not(:focus):not(:focus-within) {
		opacity: .5;
	}

	&::before {
		content: "🎧";
		display: inline-block;
		margin-inline-end: .5em;
		speak: none;
	}
}

.editor-styles-wrapper {

	ul[class*="-border-inner"] {

		&,
		ul {
			list-style: none;
		}

		li {
			padding-top: $ratio_maj + em !important;
			padding-bottom: $ratio_maj + em !important;

			li {

				&:first-child {
					margin-top: $ratio_maj + em !important;
				}

				&:last-child {
					margin-bottom: -$ratio_maj + em !important;
				}
			}
		}
	}

	.wp-block-post-content > [class*="-overlap-above"]:first-child,
	.wp-block-post-content > [class*="-pull-up"]:first-child {
		--abs_overlap_value: 0px;
		--abs_pull: 0;
	}
}

// In style preview only.
body.editor-styles-wrapper {

	[class*="-media-on-top"] {
		max-width: percentage( $ratio_min );
		margin: 0 auto;
	}

	[class*="-overlap-"],
	[class*="-pull-up"],
	[class*="-pull-down"] {
		--abs_overlap_value: 0px;
		--abs_pull: 0;
	}

	.wp-block-media-text[class*="-stacked-on-tablet"] {
		max-width: percentage( $ratio_min );
		margin: 0 auto;
	}

	[class*="-hidden-on-tablet"] {
		display: block;
		max-width: none;
		opacity: .5;
	}
}
