//
// Editor overrides.
//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.8.0
//

@import '_setup/_index';

.wp-block[class*="-screen-reader-text"],
.wp-block > [class*="-screen-reader-text"] {
	position: relative !important;
	clip: auto !important;
	clip-path: none !important;
	width: auto !important;
	height: auto !important;
	padding: .5em !important;
	margin-block: 0 !important;
	font-family: inherit !important;
	font-weight: 500 !important;
	font-size: .8em;
	line-height: 1 !important;
	background: none !important;
	color: inherit !important;
	border: 0 !important;
	border-inline-start: .25em solid !important;
	border-radius: .25em !important;
	box-shadow: none !important;

	&:not(:hover):not(:focus):not(:focus-within) {
		background: repeating-linear-gradient(
			-45deg,
			rgba( #000, .1 ),
			rgba( #000, .1 ) 5px,
			rgba( #fff, .1 ) 5px,
			rgba( #fff, .1 ) 10px
		) !important;
		opacity: .5;

		.is-layout-flex:not(.is-vertical) & {
			max-width: 6rem !important;
			text-overflow: ellipsis;
			white-space: nowrap !important;
			overflow: hidden;
		}
	}
}

	.wp-block:hover > [class*="-screen-reader-text"],
	.is-selected > [class*="-screen-reader-text"] {
		@extend %a11y_hover_focus;
	}

	[class*="-screen-reader-text"] {

		&:hover,
		&:focus,
		&:focus-within {
			@extend %a11y_hover_focus;
		}
	}

	%a11y_hover_focus {
		opacity: 1 !important;
	}

.editor-styles-wrapper {

	ul[class*="-border-inner"] {

		&,
		ul {
			list-style: none;
		}

		li {
			padding-top: $ratio_maj + em !important;
			padding-bottom: $ratio_maj + em !important;

			li {

				&:first-child {
					margin-top: $ratio_maj + em !important;
				}

				&:last-child {
					margin-bottom: -$ratio_maj + em !important;
				}
			}
		}
	}

	.wp-block-post-content > [class*="-overlap-above"]:first-child,
	.wp-block-post-content > [class*="-pull-up"]:first-child {
		--wp--custom--abs--overlap-value: 0px;
		--wp--custom--abs--pull: 0px;
	}
}

// In style preview only.
.is-root-container:not(.wp-block-post-content) {

	[class*="-media-on-top"] {
		max-width: percentage( $ratio_min );
		margin: 0 auto;
	}

	[class*="-overlap-"],
	[class*="-pull-up"],
	[class*="-pull-down"] {
		--wp--custom--abs--overlap-value: 0px;
		--wp--custom--abs--pull: 0px;
	}

	.wp-block-media-text[class*="-stacked-on-tablet"] {
		max-width: percentage( $ratio_min );
		margin: 0 auto;
	}

	[class*="-hidden-on-tablet"] {
		display: block;
		max-width: none;
		opacity: .5;
	}
}
