//
// Global, common block styles.
//
// We could actually put all CSS styles into a single file
// as they are all being enqueued inline by WordPress even
// if the block style is not being used in the page/post content.
// But we keep it this way to be able to control `!important`
// style rules specifically for each block style.
//
// BUT: This would work only in themes that disable
// `wp_should_load_separate_core_block_assets()`. So, another
// reason why it is better to leave it inline enqueued.
//
// Plus this way we can use a block style placeholder `.abs`.
//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.5.0
//

@import '_setup/_index';
@import '_tools/_index';

:root {
	// Customizable via plugin options:

		--abs_overlap_value:          %overlap_value%;
		--abs_overlap_inline_value:   %overlap_inline_value%;
		--abs_overlap_gradient_value: %overlap_gradient_value%;

		--abs_shadow_blur:    %shadow_blur%;
		--abs_shadow_opacity: %shadow_opacity%;

	// Pull value:
	--abs_pull: calc( -1 * var(--abs_overlap_value) );

	// Shadows:
	--abs_drop_shadow: 0 calc( var(--abs_shadow_blur) / 10 ) var(--abs_shadow_blur) #{ rgba( #000, var(--abs_shadow_opacity) ) };
	--abs_inner_shadow: inset 0 calc( 1.5 * var(--abs_shadow_blur) / 10 ) calc( 1.5 * var(--abs_shadow_blur) ) #{ rgba( #000, calc( 1.33 * var(--abs_shadow_opacity) ) ) };
}

// For columns alignment.
.wp-block-column:only-child {
	margin-left: auto;
	margin-right: auto;
}

// Mitigate for pull left/right within Media & Text.
.wp-block-media-text__content {
	position: relative;
	z-index: 1;
}

// Backwards compatibility.

	// @since  1.4.0
	[class*="-overlap-above"] {
		@include pull( up );
	}
	[class*="-overlap-below"] {
		@include pull( down );
	}
