//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.5.0
// @version  1.6.0
//

@import '../_setup/_index';
@import '../_tools/_index';

@supports ( mask-image: url('') ) {
	#{$abs} {
		$mask_svg: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com" viewBox="0 0 250 250"><path d="M64 54c63-18 35-26 65-45 15-11 59-15 84 5 25 19 25 47 22 66-3 20-9 24 6 40 16 16 9 44-6 57-23 20-39 11-50 24s-9 27-30 41c-19 13-49 13-69-18-19-30-2-37-54-47C-26 165 1 71 64 54Z"/></svg>';

		> img,
		> .components-resizable-box__container > img,
		> .wp-block-media-text__media {
			mask-image: url('data:image/svg+xml;utf8,#{ _url_encode( $mask_svg ) }');
			mask-position: center;
			mask-size: 100% 100%;
			mask-repeat: no-repeat;
			aspect-ratio: 250/250;
			object-fit: cover;
		}
	}
}
