//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.3.0
//

@import '../_setup/_index';

#{$abs} {
	margin-left: 0;
	margin-right: 0;
	list-style-position: inside;

	&:not(.has-background) {
		padding: 0 !important;
	}

	li {
		padding-top: $ratio_maj +em;
		padding-bottom: $ratio_maj +em;
		margin: 0;
		border-bottom: 1px solid;
		border-color: inherit;

		&:last-child {
			border-bottom: 0;
		}

		li {

			&:first-child {
				margin-top: $ratio_maj +em;
				border-top: 1px solid;
				border-color: inherit;
			}

			&:last-child {
				margin-bottom: -$ratio_maj +em;
			}

		}

		> a:not(:hover):not(:focus) {
			text-decoration: none;
		}

	}

	@at-root ul#{&} {

		&,
		ul {
			list-style: none;
		}

	}

	&.wp-block-latest-posts {

		> li {
			padding-top: $ratio +em;
			padding-bottom: $ratio +em;
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}

		&.is-grid > li:last-child {
			border-bottom: 1px solid;
			border-color: inherit;
		}

	}

}
