//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since  1.0.0
//

@import '../_setup/_index';

#{$abs} {
	padding: 0 !important;
	margin-left: 0;
	margin-right: 0;
	list-style-position: inside;

	> li {
		padding-top: $ratio_maj +em;
		padding-bottom: $ratio_maj +em;
		margin: 0;
		border-bottom: 1px solid;
		border-color: inherit;

		&:last-child {
			border-bottom: 0;
		}

		> a:not(:hover):not(:focus) {
			text-decoration: none;
		}

	}

	@at-root ul#{&} {
		list-style: none;
	}

	&.wp-block-latest-posts {

		> li {
			padding-top: $ratio +em;
			padding-bottom: $ratio +em;
			margin-top: 0;
			margin-bottom: 0;
		}

		&.is-grid > li:last-child {
			border-bottom: 1px solid;
			border-color: inherit;
		}

	}

}
