//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.4.0
// @version  1.6.0
//

@import '../_setup/_index';

#{$abs} {
	border-top-left-radius: 60% 3em !important;
	border-top-right-radius: 50% 2em !important;
	border-bottom-left-radius: 50% 3em !important;
	border-bottom-right-radius: 70% 2em !important;
	overflow: hidden;
}
