//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since  1.0.0
//

@import '../_setup/_index';

#{$abs} {
	background: none !important;
	border: 0 !important;
	border-top: 6px double !important;
	mask-image: none !important;

	&::before,
	&::after {
		display: none !important;
	}

}
