//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.7.0
//

@import '../_setup/_index';

#{$abs} {
	box-shadow: var(--wp--custom--abs--drop-shadow);

	&.wp-block-image {
		box-shadow: none;

		img {
			box-shadow: var(--wp--custom--abs--drop-shadow);
		}
	}
}
