//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.4.0
// @version  1.6.0
//

@import '../_setup/_index';
@import '../_tools/_index';

@supports ( mask-image: url('') ) {
	#{$abs} {
		$mask_svg: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com" viewBox="0 0 250 192"><ellipse bx:origin="0.266485 -0.737802" cx="128.3" cy="151.7" rx="125" ry="90" transform="rotate(-17 -60 135)"/></svg>';

		> img,
		> .components-resizable-box__container > img,
		> .wp-block-media-text__media img {
			mask-image: url('data:image/svg+xml;utf8,#{ _url_encode( $mask_svg ) }');
			mask-position: center;
			mask-size: 100% 100%;
			mask-repeat: no-repeat;
			aspect-ratio: 250/192;
			object-fit: cover;
		}
	}
}
