//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since  1.4.0
//

@import '../_setup/_index';

#{$abs} {
	position: relative;
	margin-top: calc( -1 * var(--abs_overlap_value) ) !important;
	margin-bottom: 0 !important;
	z-index: 10;
}
