//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since  1.0.0
//

@import '../_setup/_index';


#{$abs} {

	@media (max-width: 1024px) {
		display: block;
	}

	> *:not(:only-child),
	> [class*="wp-block-"]:not(:only-child) {
		@media (max-width: 1024px) {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&.wp-block-media-text {
		@media (min-width: 600px) and (max-width: 1024px) {
			// This is basically `media-on-top.scss` here,
			// so we can import it directly.
			@import 'includes/media-on-top';
		}
	}

}
