//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.1.0
//

@import '../_setup/_index';

#{$abs} {

	&:not(.is-not-stacked-on-mobile) {

		@media (max-width: #{$breakpoint_tablet}) {
			display: block;
		}

		> *:not(:only-child),
		> [class*="wp-block-"]:not(:only-child) {
			@media (max-width: #{$breakpoint_tablet}) {
				width: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}

	}

}

@media (min-width: 600px) and (max-width: #{$breakpoint_tablet}) {
	$selector: '.wp-block-media-text' + $abs;

	// This is basically `media-on-top.scss` here,
	// so we can import it directly.
	@import 'includes/media-on-top';
}
