//
// Ported from CoBlocks plugin.
// @link  https://github.com/godaddy-wordpress/coblocks
//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.6.0
// @version  1.6.1
//

@import '../_setup/_index';
@import '../_tools/_index';

@supports ( mask-image: url('') ) {
	#{$abs} {
		$mask_svg: '<svg xmlns="http://www.w3.org/2000/svg" width="250" height="1000"><path d="M250 1000H0V7s17 14 38 11C58 15 76 5 93 3s35 12 55 11c19-1 31-10 50-13 21-4 52 11 52 11v988Z"/></svg>';

		&:not(.components-placeholder):not(.is-placeholder) {
			mask-image: url('data:image/svg+xml;utf8,#{ _url_encode( $mask_svg ) }');
			mask-position: top;
			mask-size: cover;
			mask-repeat: no-repeat;
		}
	}
}
