//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since  1.6.0
//

@import '../_setup/_index';
@import '../_tools/_index';

@supports ( mask-image: url('') ) {
	#{$abs} {
		// Lower:
		$mask_svg: '<svg xmlns="http://www.w3.org/2000/svg" width="250" height="250"><path d="M0 12s17 13 38 10C58 19 76 7 93 5s35 13 55 12c19-1 31-9 50-12 21-4 52 9 52 9v236H0V12Z"/></svg>';
		// Higher:
		$mask_svg: '<svg xmlns="http://www.w3.org/2000/svg" width="250" height="250"><path d="M250 250H0V12s17 20 38 17C58 26 76 6 93 4s35 19 55 18c19-1 31-19 50-22 21-4 52 19 52 19Z"/></svg>';

		&:not(.components-placeholder):not(.is-placeholder) {
			mask-image: url('data:image/svg+xml;utf8,#{ _url_encode( $mask_svg ) }');
			mask-position: center;
			mask-size: 100% 100%;
			mask-repeat: no-repeat;
		}
	}
}
