//
// @package    Additional Block Styles
// @copyright  WebMan Design, Oliver Juhas
//
// @since  1.0.0
//

$selector_before: '.wp-block-media-text';

@import '../_setup/_index';
@import '../_tools/_index';

@supports ( mask-image: url('') ) {
	#{$abs} {
		$svg: '<svg version="1.1" viewBox="0 0 1290 400" xmlns="http://www.w3.org/2000/svg">';
		$path_horizontal: '<path d="m1290 400h-1260s30-47.798 30-100-60-147.8-60-200 30-100 30-100h1260z"/>';
		$mask_svg: (
			'left':  $svg + '<g transform="matrix(-1,0,0,1,1290,0)">' + $path_horizontal + '</g></svg>',
			'right': $svg + $path_horizontal + '</svg>',
			'top':   '<svg width="400" height="1290" version="1.1" viewBox="0 0 400 1290" xmlns="http://www.w3.org/2000/svg"><path d="m0 0v1260s47.798-30 100-30 147.8 60 200 60 100-30 100-30v-1260z"/></svg>',
		);

		> .wp-block-media-text__media {
			mask-size: cover;
			mask-repeat: no-repeat;
		}

		> .wp-block-media-text__media {
			mask-image: url('data:image/svg+xml;utf8,#{ _url_encode( map-get( $mask_svg, 'left' ) ) }');
			mask-position: right center;
		}

		&.has-media-on-the-right > .wp-block-media-text__media {
			mask-image: url('data:image/svg+xml;utf8,#{ _url_encode( map-get( $mask_svg, 'right' ) ) }');
			mask-position: left center;
		}

		// Matching WordPress block media query:
		@media (max-width: 600px) {
			> .wp-block-media-text__media,
			&.has-media-on-the-right > .wp-block-media-text__media {
				mask-image: url('data:image/svg+xml;utf8,#{ _url_encode( map-get( $mask_svg, 'top' ) ) }');
				mask-position: center bottom;
			}
		}

	}
}
