//
// Pull content styles.
//
// @since    1.0.0
// @version  1.7.0
//
// @param  string $direction
//
@mixin pull( $direction ) {

	@if up == $direction {
		position: relative;
		margin-top: var(--wp--custom--abs--pull) !important;
		margin-bottom: 0 !important;
		z-index: 10;

	} @else if down == $direction {
		position: relative;
		margin-top: 0 !important;
		margin-bottom: var(--wp--custom--abs--pull) !important;
		z-index: 10;

		+ [class] { // Don't use `+ *` here. Better use something more specific.
			z-index: 0;
		}

	} @else if left == $direction {
		@media (min-width: #{$breakpoint_tablet}) {
			position: relative;
			margin-left: var(--wp--custom--abs--pull) !important;

			&:not(.wp-block-heading) {
				box-shadow: var(--wp--custom--abs--drop-shadow);
			}
		}

	} @else if right == $direction {
		@media (min-width: #{$breakpoint_tablet}) {
			position: relative;
			margin-right: var(--wp--custom--abs--pull) !important;

			&:not(.wp-block-heading) {
				box-shadow: var(--wp--custom--abs--drop-shadow);
			}
		}

	} @else if left-right == $direction {
		@media (min-width: #{$breakpoint_tablet}) {
			position: relative;
			margin-inline: var(--wp--custom--abs--pull) !important;
			box-shadow: var(--wp--custom--abs--drop-shadow);
			z-index: 5;
		}

	}
}
